<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316825709491-cq4v3pkjdvtak1dr59r051nd46eea5q5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316825709491-cq4v3pkjdvtak1dr59r051nd46eea5q5</string>
	<key>API_KEY</key>
	<string>AIzaSyAu2DU4tJJczye2cPNuTiap9vhX58aFWGY</string>
	<key>GCM_SENDER_ID</key>
	<string>316825709491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudApp</string>
	<key>PROJECT_ID</key>
	<string>shop-d074f</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-d074f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316825709491:ios:62cc343f8b6d4ceca339c6</string>
</dict>
</plist>